.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  /* padding: 200px 200px 200px 200px; */

}

.login {
  text-align: center;

  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 30%;
  padding: 50px 50px 75px 500px;
}

.register {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 30%;
  padding: 50px 50px 75px 500px;
}

.button {

  width: 20%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 40%;

}

.buttonAcc {
  width: 10%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 40%;
  height: 10%;
  gap: "0.5rem";
}

.link {
  cursor: "pointer";
  /* display: "flex";
  justify-content: "center";
  gap: "0.5rem";
  list-style: "none";
  margin-Right: "2rem"; */
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}